.container {
    display: flex;
    border: 10px solid black;
    height: 90vh;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px
}

#box1 {
    background-color: hsl(0, 83%, 72%);
    align-self: center;
}

#box2 {
    background-color: hsl(54, 83%, 72%);
    order: -1
}

#box3 {
    background-color: hsl(110, 83%, 72%);
}

#box4 {
    background-color: hsl(197, 83%, 72%);

}